#
# C/C++ .gitignore file
#
# Peter Malmberg <peter.malmberg@gmail.com>
#
#

# Temporary files
#--------------------------------------------------------------------
*.bak
*.bck
*.bk
*.backup
*.tmp
*.old
*.ori
*.orig
*.rej
*~
.#*
*.log
*.swp
*.swap

# Revision control
#--------------------------------------------------------------------
.svn
.git

# C/C++
#--------------------------------------------------------------------

# Object files
*.o
*.ko
*.obj
*.elf
*.lo
*.slo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Static Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.elf
*.a

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Symbols etc
*.lst
*.sym
*.map
*.lss

# Makefile
#--------------------------------------------------------------------
*.d
.dep
build/
archive/
backup/

# Kernel 
#--------------------------------------------------------------------
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
